.wp_js_code_main{margin-top: 20px;}
.wp_js_code_ctr{background: #fff;padding: 10px 20px;}
.wp_js_code_ctr .submit{padding-left: 10px;margin-top: 10px;}

.wpjscode_content_wrapper {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.wpjscode_content_cell {
    display: table-cell;
    height: 500px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
#wpjscode_content_top {
    width: 100%;
}
#sidebar-container {
    width: 300px;
    padding-left: 20px;
}
.adzapier-sidebar__title {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    color: #a4286a;
    text-align: left;
    box-sizing: border-box;
    line-height: 19px;
    border-bottom: 1px solid #a4286a;
}
.adzapier-sidebar__section {
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 30%);
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 16px;
    margin: 10px 0 20px;
}
.adzapier-sidebar__section h2 {
    margin-top: 0;
    color: #31305C;
}
.adzapier-sidebar__section ul {
    position: relative;
}
.adzapier-sidebar__section li {
    list-style: none;
    margin-left: 20px;
}
.wpjscode_content_wrapper li, .wpjscode_content_wrapper p {
    max-width: 100%;
}

.adzapier-sidebar__section li:before {
    content: "+";
    position: absolute;
    left: 0;
    font-weight: 700;
}
.adzapier-button-upsell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 48px;
    padding: 8px 1em;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial,sans-serif;
    color: #000;
    border-radius: 4px;
    box-shadow: inset 0 -4px 0 rgb(0 0 0 / 20%);
    filter: drop-shadow(0 2px 4px rgba(0,0,0,.2));
    text-decoration: none;
    background-color: #fec228;
}
/* .adzapier-sidebar__section a {
    color: #a4286a;
} */
.adzapier-container {
    position: relative;
    max-width: 1280px;
    margin: 20px 0 1px;
    padding: 20px 20px 0;
    border: 1px solid #e5e5e5;
    background-color: #fdfdfd;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
.adzapier-container.adzapier-container__configuration-wizard {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    background-color: #fff;
    min-height: 0;
    padding: 10px 20px;
    margin-bottom: 15px;
}
.adzapier-container .adzapier-container__configuration-wizard--content {
    flex: 1 1 auto;
    margin: 12px;
    padding: 0;
}
.wpjscode-icons{color: #d54e21;width: 40px;height: 40px;font-size: 40px;}
.wpjscode-header{background: #042B60;padding:20px;position: relative;}
.wpjscode-header .right{
    max-height: 32px;
    max-width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    right: 20px;
}
.wpjscode-header .right.social a{
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #042B60;
    background: #fff;
    position: relative;
    margin-right: 6px;
}
.wpjscode-header .right.social a:hover{color: #d54e21;}
.wpjscode-header .right.social a:last-child{margin-right: 0;}
.wpjscode-header .right.social .dashicons{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wp-core-ui .button-primary.wpjscode-btn{
    background: #FFAF00;
    border-color: #FFAF00;
    display: block;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
.wp-core-ui .button-primary.wpjscode-btn:hover{
    background: #042B60;
    border-color: #042B60;
}
#wpjscode-title{
    border-bottom: 1px solid #a4286a;
    color: #a4286a;
    line-height: 31px;
}
.wp_js_code_ctr .form-table td{padding: 5px 10px;}

.wp-core-ui .button-primary#savejscode{background: #FFAF00;border-color: #FFAF00;}
.wp-core-ui .button-primary#savejscode:hover{background: #042B60;border-color: #042B60;}
.wpjscode_content_wrapper .full p{max-width: none;}
.wpjscode-header small{
    color: #fff;
    position: relative;
    top: -6px;
    margin-left: 10px;
    font-size: 12px;
}
.adzapier-container ul{list-style-type: auto;padding-left: 30px;}
.adzapier-more-features{padding: 5px 10px;}
.adzapier-more-features ul{list-style-type: disc;padding-left: 30px;}